{% extends "base.html" %}

{% block content %}
<!--<h1 style="text-align: center">Add a Blog Entry</h1>-->
<form action="/newpost" method="post">
    <label>Title for your new blog:</label>
    <input type="text" name="title" value="{{title}}"/>
    <br>
    <br>
    <br>
    <label>Your new blog:  </label>
    <textarea name="blog_text">{{blog_text}}</textarea>
    <br>
    <label>Date:</label>
    <input class="datetime" type="datetime" name="date" value={{blog_date}} />
    <br>
    <br>
    <br>
    <input class="submit-button" type="submit" value="Add Entry" />
</form>
{% endblock %}