<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="../../static/styles/base.css">
        <style>
            .error {
                color: red;
            }
        </style>
        
    </head>

<header>
    <div style="float: left">
        {% if 'username' in session %}
        <a href="/blog"><h5>Blogs</h5></a>
        <a href="/newpost"><h5>Add a Blog Entry</h5></a>
        {% endif %}
    </div>
    <div style='float: right'>
        {% if 'username' in session %}
          <h5>Welcome, {{ session['username'] }}</h5>
          <a href="/logout"><h5>log out</h5></a>
        {% else %}
          <a href="/login"><h5>login</h5></a> | <a href="/signup"><h5>register</h5></a>| <a href="/"><h5>Home</h5></a>
        {% endif %}
      </div>
        <h1>{{ header_title }}</h1>
</header>  
<body> 
    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
        {% for category, message in messages %}
        <p class="{{category}}">{{ message }}</p>
        {% endfor %}
    {% endwith %}
    </ul>
    {% block content %}
    {% endblock %}

</body>
<html>