{% extends "base.html" %}

{% block content %}

<!--<h1 style="text-align: center">Blogs</h1>-->
    {% if blogs.items|length == 0 %}
    <p>Nothing to see here!</p>
    {% else %}
    <div style="margin-right: 20px;">
        <ul>
            {% for blog in blogs.items %}
                <a style="text-decoration: none;" href="./blog?id={{blog.id}}"><h4>{{ blog.title }}</h4></a>
                <p class="description">{{ blog.body }}</p>
                <p class="date">published by <a style="text-decoration: none;" href="/blog?user={{blog.owner.id}}">{{ blog.owner.username}}</a> on {{ blog.pub_date}}</p>
                <hr />
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <br>
    <br>
    {% for page_num in blogs.iter_pages() %}
        {% if page_num %}
            {% if page_num == blogs.page %}
                <a style="text-decoration: none;" href="/blog?user={{owner_id}}&page={{page_num}}"><span style="font-weight: bold;">{{ page_num }}</span></a>
            {% else %}
                <a style="text-decoration: none;" href="/blog?user={{owner_id}}&page={{page_num}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    
{% endblock %}
