{% extends "base.html" %}

{% block content %}

<!--<h1 style="text-align: center">Blogs</h1>-->
    {% if blogs|length == 0 %}
    <p>Time to Blog Something!</p>
    {% else %}
        <ul>
            {% for blog in blogs %}
                <a href="./blog?id={{blog.id}}"><h4>{{ blog.title }}</h4></a>
                <p class="description">{{ blog.body }}</p>
                <p class="date">published by {{ blog.owner.username}} on {{ blog.pub_date}}</p>
                <hr />
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
