{% extends "base.html" %}

{% block content %}
<div class="form-container">
<form style="display: inline-block;" action="/update-blog" method="post">
    <input type="hidden" name="blog-id" value="{{blog.id}}"/>
    <label>Current Title:</label>
    <input type="text" name="title" value="{{blog.title}}"/>
    <br>
    <br>
    <br>
    <label>Current Content:  </label>
    <textarea name="blog_text" rows="10" cols="30" >{{blog.body}}</textarea>
    <br>
    <label>Date:</label>
    <input class="datetime" type="text" name="date" value='{{blog.pub_date}}' />
    <br>
    <br>
    <br>
    <input class="submit-button" type="submit" value="Update" /> 
    <p></p>
    <a style="text-decoration: none; color: silver; font-style: italic;" href="/blog">nevermind</a>
</form>
<!--
<form style="display: inline-block;" action="/blog" method="get">
    <input class="submit-button" type="submit" value="Nevermind"/>
</form>
-->
</div>
</div>
{% endblock %}