{% extends "base.html" %}

{% block content %}
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username  </label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password  </label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <br>
    <input class="submit-button" type="submit" value="Login">
    <p></p>
    <a style="text-decoration: none;" href="/requestpswd"><div style="font-size: 14px; color: silver; font-style:italic">forgot password?</div></a>
</form>
{% endblock %}