{% extends "base.html" %}

{% block content %}

<form action="/requestpswd" method="POST">
    <table>
        <tr>
            <td><label for="username">Username  </label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
        </tr>
    </table>
    <br>
    <input class="submit-button" type="submit" value="Submit">
</form>

<!--
<form action="mailto:someone@example.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>-->
{% endblock %}